*:hover {
  cursor:default;
}

body {
  background-color:black;
  margin: 0px;
  min-height:100vh;
  width:100vw;
  box-sizing:border-box;
}

#root {
  align-items:center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/elden-ring-background.png');
  background-attachment: fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:90%;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:100vh;
  width:100%;
}

@font-face {
  font-family: 'Mantinia Regular';
  src: url('./assets/mantinia-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./src/assets/Montserrat-VariableFont_wght.ttf') format('opentype')
}

h1,
h2, 
.big-letter {
  color: #E6C383;
  font-family: 'Mantinia Regular';
  font-weight:200;
  letter-spacing:4px;
  margin:0;
  padding:0;
  text-shadow: 0px 0px 4px #E6C383;
}

h1 {
  font-size:min(6em,10vw);
}

h2 {
  color:white;
  font-size:min(3em, 5vw);
}

h3 {
  margin:0;
  font-family:'Mantinia Regular';
  font-size:1em;
  font-weight:200;
}

.title {
  align-items:center;
  display:flex;
  height:fit-content;
  justify-content:center;
  margin-top:20px;
  vertical-align:center;
}

.big-letter {
  font-size:min(8em,12.5vw);
  line-height: 1em;
}

.rules {
  font-size:min(1.5em,4vw);
  margin-top:10px;
}

.rules:hover {
  color:#f4e4c5;
  cursor:pointer;
  text-shadow: 0px 0px 4px #E6C383;
}

.scoreboard {
  background-color: #14150F;
  border:1px solid #B0B1AD;
  display:flex;
  flex-direction:column;
  gap:5px;
  height:45px;
  margin-bottom:30px;
  padding:12px;
  position:sticky;
  top:20px;
  z-index:2;
}

.scoreboard>h3 {
  font-family:'Montserrat';
}

#card-container {
  align-items:center;
  display:grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content:center;
  margin-bottom:50px;
  margin-top:50px;
  width:min(900px, 100%);
}

@keyframes fadeIn {
  0% {
    opacity:0
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1
  }
  100% {
    opacity:0;
  }
}

.card {
  align-items:center;
  background: linear-gradient(to top, #585648, #14150F);
  border:1px solid #B0B1AD;
  border-radius:4px;
  color: #B0B1AD;
  display:flex;
  flex-direction:column;
  font-size: min(1.2em, 3.5vw);
  font-family: 'Sans Serfif';
  height:180px;
  justify-content:space-between;
  padding: 15px 10px 15px 10px;
  text-align:center;
}

.fade-in {
  animation: fadeIn 0.25s;
}

.fade-out {
  animation: fadeOut 0.25s
}

.card:hover {
  background: linear-gradient(to top, #413f37, #000000);
  cursor:pointer;
  scale:1.03;
  transition:0.2s ease-in;
}

.card>*:hover {
  cursor:pointer;
}

.card>img {
  height:65%;
}

.card>div {
  display:flex;
  align-items:center;
  height:25%;
}

.modal {
  align-items:center;
  background-color:#b0b1ad96;
  display:flex;
  height:100%;
  justify-content:center;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:3;
}

.modal-window {
  align-items:center;
  background-color: #161616;
  box-shadow:0px 0px 20px black;
  color: #B0B1AD;
  display:flex;
  flex-direction:column;
  font-family: 'Montserrat';
  font-size:1.1em;
  gap:10px;
  justify-content:center;
  line-height:1.5em;
  padding:20px 30px 20px 30px;
  text-align:center;
  width:min(350px, 80%);
}

button {
  background-color:black;
  border:1px solid #B0B1AD;
  border-radius:3px;
  color: #B0B1AD;
  font-family:'Mantinia Regular';
  font-size:0.9em;
  padding:8px 12px 8px 12px;
  width:fit-content;
}

button:hover {
  background-color: #413f37;
  cursor:pointer;
}